/* Page content */

#animals {
  background-image: url(../img/wallpapers/wallpaperAnimals.jpg);
}

#architectural {
  background-image: url(../img/wallpapers/wallpaperArchitectural.jpg);
}

#nature {
  background-image: url(../img/wallpapers/wallpaperNature.jpg);
}

#portrait {
  background-image: url(../img/wallpapers/wallpaperPortrait.jpg);
}

#sport {
  background-image: url(../img/wallpapers/wallpaperSport.jpg);
}

#wedding {
  background-image: url(../img/wallpapers/wallpaperWedding.jpg);
}

.pageContainer {
  height: auto;
  width: 100%;
  position: absolute;
  animation: transitionIn calc(var(--transitionLength) * 2);
  animation-timing-function: ease-in;
  background-repeat: repeat;
  background-attachment: scroll;
  background-size: 100%;
  min-height: 100vh;
}

main {
  position: relative;
}

.footerContainer {
  position: absolute;
}

/* Image layout*/

.gallery {
  display: flex;
  flex-direction: row;
  gap: calc(var(--imageMargin) / 2);
  padding-top: calc(var(--navContainerHeight) + var(--imageMargin));
  padding-bottom: calc(var(--navContainerHeight) + var(--imageMargin));
  margin-left: var(--sideWrapperMargin);
  margin-right: var(--sideWrapperMargin);
}

.gallery .column {
  display: flex;
  flex-direction: column;
  gap: calc(var(--imageMargin) / 2);
}

.image img {
  height: 100%;
  width: 100%;
  border-radius: var(--imageBorderRadius);
  object-fit: cover;
  box-shadow: var(--shadow);
  user-select: none;
}

/* Slide transition */

.fadeOutAnimation {
  animation: fadeOut calc(var(--transitionLength) * 2) linear;
}

.fadeInAnimation {
  animation: fadeIn var(--transitionLength) linear;
}

.linkBagAnimation {
  animation: transitionBag calc(var(--transitionLength) * 2) linear;
}

@media (min-width: 1100px) {
  .linkBagAnimation {
      animation: transitionBagWide calc(var(--transitionLength) * 2) linear;
  }
}

#nav {
  display: none;
}

#shopNav {
  visibility: hidden;
}

/* Navigation bar animations */

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes transitionBag {
  to {
    transform: translateX(calc(100vw - (var(--navPadding) * 2 + var(--menuIconSize))));
  }
}

@keyframes transitionBagWide {
  to {
    transform: translateX(calc(var(--desktopNavSize) - (var(--navPadding) * 2 + var(--menuIconSize))));
  }
}

/* Page transition */

@keyframes transitionIn {
  from {
    opacity: var(--softOpacity);
    transform: translateY(var(--navContainerHeight));
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Fade on scroll class selectors */

.fadeInFromBottom {
  animation: fadeInFromBottom calc(var(--transitionLength) * 2) ease-in;
}

.fadeInFromRight {
  animation: fadeInFromRight calc(var(--transitionLength) * 2) ease-in;
}

.fadeInFromLeft {
  animation: fadeInFromLeft calc(var(--transitionLength) * 2) ease-in;
}

.fadeInFromRightBottom {
  animation: fadeInFromRightBottom calc(var(--transitionLength) * 2) ease-in;
}

.fadeInFromLeftBottom {
  animation: fadeInFromLeftBottom calc(var(--transitionLength) * 2) ease-in;
}

/* Fade on scroll animations */

@keyframes fadeInFromBottom {
  from {
    opacity: 0;
    transform: translateY(var(--imageMargin));
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInFromRight {
  from {
    opacity: 0;
    transform: translateX(var(--imageMargin));
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInFromLeft {
  from {
    opacity: 0;
    transform: translateX(calc(-1 * var(--imageMargin)));
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInFromRightBottom {
  from {
    opacity: 0;
    transform: translate(var(--imageMargin), var(--imageMargin));
  }

  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes fadeInFromLeftBottom {
  from {
    opacity: 0;
    transform: translate(calc(-1 * var(--imageMargin)), var(--imageMargin));
  }

  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

/* Adaptive Size */

@media (min-width: 1100px) {
  .gallery{
    margin-left: calc(2 * var(--sideWrapperMargin));
    margin-right: calc(2 * var(--sideWrapperMargin));
  }
}

@media (max-width: 768px) {
  .gallery{
    margin-left: calc(var(--sideWrapperMargin) / 2);
    margin-right: calc(var(--sideWrapperMargin) / 2);
  }
}