body {
    font-family: helvetica, sans-serif;
    background-color: rgb(187, 167, 91);
    text-align: center;
}

header {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: black;
}

section {
    background-color: rgb(103, 27, 27);
    color: white;
    max-width: 900px;
    font-size: large;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #555;
    border-radius: 30px;
    line-height: 1.5;
    padding: 20px;
}

p, ul, h4 {
    text-align: left;
}

#coverPhoto {
    max-width: 100%;
    border: 4px solid #555;
    margin-bottom: 20px;
    border-radius: 30px;
}

#boxCoverPhoto {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

figcaption {
    font-size: medium;
}

table, th, td {
    border: 1px solid white;
   
    }
    
th,td {
    padding: 5px;
}

table {
display: table;
border-collapse: separate;
border-spacing: 2px;
margin-bottom:20px;
}

.mockup {
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
}

.planStructure ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    position: relative;
    text-align: left;
}

.planStructure li {
    list-style-type: none;
    border-left: 2px solid #FFFF;
    margin-left: 1em;
}

.planStructure li div {
    padding-left: 1em;
    position: relative;
}

.planStructure li div::before {
    content:'';
    position: absolute;
    top: 0;
    left: -2px;
    bottom: 50%;
    width: 0.75em;
    border: 2px solid #FFFF;
    border-top: 0 none transparent;
    border-right: 0 none transparent;
}

.planStructure ul > li:last-child {
    border-left: 2px solid transparent;
}