/* Page content */

.pageContainer {
    height: 100%;
    width: 100%;
    -webkit-animation: transitionIn calc(var(--transitionLength) * 2);
    animation: transitionIn calc(var(--transitionLength) * 2);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
}

/* Wallpaper */

#wallpaperHome {
    position: fixed;
    height: 100%;
    width: 100%;
    background: url(../img/wallpapers/home.jpg) center center no-repeat;
    background-size: cover;
    z-index: -1;
}

/* Slide transition */

.fadeOutAnimation {
    -webkit-animation: fadeOut calc(var(--transitionLength) * 2) linear;
    animation: fadeOut calc(var(--transitionLength) * 2) linear;
}

.fadeInAnimation {
    -webkit-animation: fadeIn var(--transitionLength) linear;
    animation: fadeIn var(--transitionLength) linear;
}

.linkBagAnimation {
    -webkit-animation: transitionBag calc(var(--transitionLength) * 2) linear;
    animation: transitionBag calc(var(--transitionLength) * 2) linear;
}

@media (min-width: 1100px) {
    .linkBagAnimation {
        -webkit-animation: transitionBagWide calc(var(--transitionLength) * 2)
            linear;
        animation: transitionBagWide calc(var(--transitionLength) * 2) linear;
    }
}

#nav {
    display: none;
}

#shopNav {
    visibility: hidden;
}

/* Navigation bar animations */

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes transitionBag {
    to {
        transform: translateX(
            calc(100svw - (var(--navPadding) * 2 + var(--menuIconSize)))
        );
    }
}

@keyframes transitionBag {
    to {
        transform: translateX(
            calc(100svw - (var(--navPadding) * 2 + var(--menuIconSize)))
        );
    }
}

@-webkit-keyframes transitionBagWide {
    to {
        transform: translateX(
            calc(
                var(--desktopNavSize) -
                    (var(--navPadding) * 2 + var(--menuIconSize))
            )
        );
    }
}

@keyframes transitionBagWide {
    to {
        transform: translateX(
            calc(
                var(--desktopNavSize) -
                    (var(--navPadding) * 2 + var(--menuIconSize))
            )
        );
    }
}

/* Page transition */

@-webkit-keyframes transitionIn {
    from {
        opacity: var(--softOpacity);
    }

    to {
        opacity: 1;
    }
}

@keyframes transitionIn {
    from {
        opacity: var(--softOpacity);
    }

    to {
        opacity: 1;
    }
}

/* Carousel transitions */

@-webkit-keyframes slideIn {
    0% {
        transform: translateX(50vw) scale(0.2);
    }

    100% {
        transform: translateX(0) scale(1);
    }
}

@keyframes slideIn {
    0% {
        transform: translateX(50vw) scale(0.2);
    }

    100% {
        transform: translateX(0) scale(1);
    }
}

@-webkit-keyframes slideOut {
    0% {
        transform: translateX(0) scale(1);
    }

    100% {
        transform: translateX(-50vw) scale(0.2);
    }
}

@keyframes slideOut {
    0% {
        transform: translateX(0) scale(1);
    }

    100% {
        transform: translateX(-50vw) scale(0.2);
    }
}

@-webkit-keyframes niclasIn {
    0% {
        opacity: var(--softOpacity);
        transform: translateX(calc(var(--sideWrapperMargin) * 2));
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes niclasIn {
    0% {
        opacity: var(--softOpacity);
        transform: translateX(calc(var(--sideWrapperMargin) * 2));
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Niclas photo */

#niclasPhoto {
    position: fixed;
    bottom: var(--navContainerHeight);
    aspect-ratio: 1 / 1;
    right: 0;
    height: 60vh;
    background: url(../img/home/niclas.png) center center no-repeat;
    background-size: cover;
    -webkit-animation: niclasIn calc(var(--transitionLength) * 2);
    animation: niclasIn calc(var(--transitionLength) * 2);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    z-index: 10;
    pointer-events: none;
}

#contentContainer {
    height: 100svh;
    width: 100svw;
    overflow-y: scroll;
    -ms-scroll-snap-type: y mandatory;
    scroll-snap-type: y mandatory;
}

#contentContainer::-webkit-scrollbar {
    display: none;
}

.hidden {
    opacity: 0;
}

.quotesContainer {
    position: relative;
    width: 100svw;
    height: 100svh;
    transition: all var(--transitionLength) ease-out;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.quotesContainer p {
    position: absolute;
    font-size: x-large;
    z-index: var(--quoteZindex);
    color: var(--pageColor);
    -webkit-backdrop-filter: blur(0px);
    backdrop-filter: blur(0px);
    -webkit-filter: drop-shadow(var(--shadow));
    filter: drop-shadow(var(--shadow));
}

#photoCarousel {
    position: relative;
    align-items: center;
    width: 100svw;
    height: 100svh;
    transition: opacity var(--transitionLength) linear;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

#photoCarousel img {
    position: absolute;
    visibility: hidden;
    pointer-events: none;
    width: 100%;
    height: calc(100% - var(--navContainerHeight));
    -o-object-fit: contain;
    object-fit: contain;
    border-radius: var(--photoBorderRadius);
}

.photoIn {
    -webkit-animation: slideIn var(--transitionLength);
    animation: slideIn var(--transitionLength);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
}

.photoOut {
    -webkit-animation: slideOut var(--transitionLength);
    animation: slideOut var(--transitionLength);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
}

/* Adaptive size */

@media (min-width: 1100px) {
    #niclasPhoto {
        height: 80vh;
    }
}

@media (max-width: 768px) {
    #niclasPhoto {
        height: 40vh;
    }
}
