* ,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Caveat', cursive;
    font-weight: 400;
    overflow-y: scroll;
    background-color: lightblue;
}

/* Navigation bar */

.nav-container {
    background: white;
    height: 60px;
    z-index: 300;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
}

.nav-container nav {
    width: 1000px;
    margin: 0 auto;
    padding: 0 8px;
    height: 100%;
}

nav .desktop-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    list-style: none;
}

nav .desktop-nav li a {
    color: black;
    text-decoration: none;
    font-size: 22px;
    opacity: 1;
    transition: opacity 400ms;
}

nav .desktop-nav li a:hover {
    opacity: 0.6;
}

.link-signature {
    background: url('../img/signature.png');
    display: block;
    background-position: center;
    height: 60px;
    background-size: 160px;
    width: 160px;
    background-repeat: no-repeat;
}

.link-shop {
    background: url('../img/shop.png');
    display: block;
    background-position: center;
    height: 60px;
    background-size: 44px;
    width: 40px;
    background-repeat: no-repeat;
}

/* Hidden */

.mobile-nav {
    display: none;
}

/* Adaptive size */

@media (max-width: 1100px) {
    .nav-container nav {
        width: 100%;
        padding: 0 32px;
    }
}

@media (max-width: 768px) {
    .nav-container .desktop-nav {
        display: none;
    }
    .mobile-nav {
        display: flex;
    }
}

#fontTest {
    font-family: 'Noto Sans Mono';
    font-weight: 200;
    font-size: larger;
    color: black;
}