/* Page content */

.pageContainer {
    height: 100%;
    width: 100%;
    background-image: url(../img/wallpapers/wallpaperHome.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    animation: transitionIn calc(var(--transitionLength) * 2);
    animation-timing-function: ease-in;
    margin-top: var(--navContainerHeight);
    padding: 10%;
}

p {
    font-family: 'Noto Sans Mono', sans-serif;
    font-weight: 200;
    color:lightgrey;
}


/* Page transition */

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/* Carousel CSS START */


.carousel {
    width: 100vw;
    height: 100vh;
}
.carousel > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
}


.slide > .carouselImg {
    display: block;
    width: 100%;
    height: 100%;
    
   
}

.slide[data-active] {
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
}
.carousel-button {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 4rem;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, .5);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
    background-color: rgba(0, 0, 0, .1);
}

.carousel-button:hover,
.carousel-button:focus-visible {
    color: white;
    background-color: rgba(0, 0, 0, .2);
}

.carousel-button:focus-visible {
    outline: 1px solid black;
}

.carousel-button.prev {
    left: 1rem;
    
}

.carousel-button.next {
    right: 1rem;
}
/* Carousel CSS END */
