/* Page content */

.pageContainer {
    height: 100%;
    width: 100%;
    animation: transitionIn calc(var(--transitionLength) * 2);
    animation-timing-function: ease-in;
    margin-top: var(--navContainerHeight);
    margin-bottom: var(--navContainerHeight);
}

/* Wallpaper */

#wallpaperHome {
    position: fixed;
    height: 100%;
    width: 100%;
    background: url(../img/wallpapers/wallpaperHome.jpg) center center no-repeat;
    background-size: cover;
    z-index: -1;
}

/* Slide transition */

.fadeOutAnimation {
    animation: fadeOut calc(var(--transitionLength) * 2) linear;
}

.fadeInAnimation {
    animation: fadeIn var(--transitionLength) linear;
}

.linkBagAnimation {
    animation: transitionBag calc(var(--transitionLength) * 2) linear;
}

@media (min-width: 1100px) {
    .linkBagAnimation {
        animation: transitionBagWide calc(var(--transitionLength) * 2) linear;
    }
}

#nav {
    display: none;
}

#shopNav {
    visibility: hidden;
}

/* Navigation bar animations */

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes transitionBag {
    to {
        transform: translateX(calc(100vw - (var(--navPadding) * 2 + var(--menuIconSize))));
    }
}

@keyframes transitionBagWide {
    to {
        transform: translateX(calc(var(--desktopNavSize) - (var(--navPadding) * 2 + var(--menuIconSize))));
    }
}

/* Adaptive size */

@media (min-width: 1100px) {}

@media (max-width: 768px) {}

/* Page transition */

@keyframes transitionIn {
    from {
        opacity: var(--softOpacity);
    }

    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    0% {
        transform: translateX(500px) scale(.2);
    }

    100% {
        transform: translateX(0px) scale(1);
    }
}

/* Niclas image */

#content {
    position: fixed;
    bottom: var(--navContainerHeight);
    right: 0;
    height: 300px;
    width: 300px;
    background: url(../img/home/niclas.png) center center no-repeat;
    background-size: cover;
    animation: slideIn calc(var(--transitionLength) * 2);
    animation-timing-function: ease-in;
}





.text {
    /* background color is for testing */
    font-size: x-large;
    height: 50vh;
    width: 50vw;
    position: fixed;
    visibility: hidden;
    top: 30%;
    left: 20%;
    user-select: none;
}

p {
    font-family: 'Noto Sans Mono', sans-serif;
    font-weight: 200;
    color: #fff;
}

#niclasImg {
    position: fixed;
    right: 0px;
    bottom: 60px;
    width: 40vw;
    height: auto;
}


.sliderStart {
    visibility: hidden;
}

/* .sliderStart *{
    visibility: hidden;
} */

.homeContainer {
    height: calc(100% - 3 * var(--navContainerHeight));
    display: flex;
    flex-direction: row;
}

.quote {
    width: 5000px;
    height: auto;
    font-size: 1em;

}

/*Adaptive size*/

@media (max-width: 768px) {
    .homeContainer {
        flex-direction: column-reverse
    }

    .quote {
        width: 100%;
        font-size: 1em;
        height: 200px;
    }

    .niclas {
        height: 50%;
        margin-left: 250px;
        height: 300px;
        margin-top: -50px;
    }

}


/* Carousel CSS START */

.horizontal_slider {
    display: none;
}

.sliderStart {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    width: 800px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
}

.slides {
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img {
    width: 800px;
    height: 500px;
}

/* CSS for manual slide navigation */

.navigation-manual {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid gray;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 30px;
}

.manual-btn:hover {
    background: gray;
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -20%;
}

#radio3:checked~.first {
    margin-left: -40%;
}

#radio4:checked~.first {
    margin-left: -60%;
}

#radio5:checked~.first {
    margin-left: -80%;
}

#radio6:checked~.first {
    margin-left: -100%;
}

#radio7:checked~.first {
    margin-left: -120%;
}

#radio8:checked~.first {
    margin-left: -140%;
}

/* CSS for manual slide navigation END */

/* CSS for automatic navigation */

.navigation-auto {
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;

}

.navigation-auto div {
    border: 2px solid gray;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child) {
    margin-right: 30px;
}

#radio1:checked~.navigation-auto .auto-btn1 {
    background: gray;
}

#radio2:checked~.navigation-auto .auto-btn2 {
    background: gray;
}

#radio3:checked~.navigation-auto .auto-btn3 {
    background: gray;
}

#radio4:checked~.navigation-auto .auto-btn4 {
    background: gray;
}

#radio5:checked~.navigation-auto .auto-btn5 {
    background: gray;
}

#radio6:checked~.navigation-auto .auto-btn6 {
    background: gray;
}

#radio7:checked~.navigation-auto .auto-btn7 {
    background: gray;
}

#radio8:checked~.navigation-auto .auto-btn8 {
    background: gray;
}

/* Mobile device slider */

@media screen and (max-width: 921px) {
    .sliderStart {
        display: none;
        margin: 0;
        padding: 0;
    }

    .horizontal_slider {
        display: block;
        width: 100%;
        overflow-x: scroll;
        margin-top: 20px;
        padding: 20px;
        box-sizing: border-box;
    }

    ::-webkit-scrollbar {
        width: 10px;
    }

    .horizontal_slider::-webkit-scrollbar-thumb {
        background: #333;
    }

    .hSlider_Container {
        display: block;
        white-space: nowrap;
    }

    .hslider_item {
        display: inline-block;
        margin-right: 10px;
    }

    .hslider_item img {
        max-height: 250px;
        width: auto;
        object-fit: cover;
    }

    .navigation-manual,
    .navigation-auto {
        display: none;
    }

}


/* CSS for automatic navigation END */
/* Carousel CSS END */
/* -------------------------------------------------------- */

/* Text transitions START
:root{
    --var-color-one: #f5efe1;
    --var-color-two: #161616;
  }
  .quotes{
    margin:0;
    padding: 10px;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Noto Sans Mono', sans-serif;
    color: var(--var-color-one);
    display:flex;
    overflow:hidden;
    background-color: orange;
    margin-bottom: 15rem;
  }
  .quoteHolder{
    display:flex;
    left:10%;
    position:absolute;
    flex-direction:column;
    justify-content: flex-start;
  }
  

  ul li span{
    display:block;
    margin:0.05rem;
    transform: translateY(200%);

  }
  ul li span.active{
    transform: translateY(0%);
    transition: 1s ease-out;
  }

  .quotes:hover{
    opacity: 0.5;
    cursor:pointer;
  }

Text transitions END*/