/* Page content */

.pageContainer {
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: lightblue;
    animation: transitionIn calc(var(--transitionLength) * 2);
    animation-timing-function: ease-in;
}

p {
    margin-top: 60px;
    font-family: 'Noto Sans Mono', sans-serif;
    font-weight: 200;
    font-size: 24;
}

/* Page transition */

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}