* ,
*::after,
*::before {
    margin: 0; /* Removes the default margin and padding */
    padding: 0;
    box-sizing: border-box; /* Includes margin and padding in future width and height calculations */
}

/* Navigation bar */

.navContainer {
    background: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
    height: 60px;
    z-index: 300;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
}

.navContainer nav {
    width: 1000px;
    margin: 0 auto;
    padding: 0 8px;
    height: 100%;
}

nav .desktopNav, nav .mobileNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    list-style: none;
}

nav .desktopNav li a, nav .mobileNav li a {
    color: black;
    text-decoration: none;
    font-family: 'Caveat', cursive;
    font-weight: 400;
    font-size: 22px;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.4));
    opacity: 1;
    transition: opacity 400ms;
}

nav .desktopNav li a:hover, nav .mobileNav li a:hover {
    opacity: 0.5;
}

nav .mobileNav {
    display: none; /* Hidden */
}

/* Adaptive size */

@media (max-width: 1100px) {
    .navContainer nav {
        width: 100%;
        padding: 0 32px;
    }
}

@media (max-width: 768px) {
    nav .desktopNav {
        display: none; /* Hidden */
    }

    nav .mobileNav {
        display: flex;
    }
}

/* Icons */

.linkSignature {
    background: url('../img/icons/signature.png');
    background-size: 160px;
    width: 160px;
}

.linkBag {
    background: url('../img/icons/bag.png');
    background-size: 44px;
    width: 40px;
}

.linkCart {
    background: url('../img/icons/cart.png');
    background-size: 44px;
    width: 60px;
}

.linkMenu1 {
    background: url('../img/icons/menu_1.png');
    top: 40%;
}

.linkMenu2 {
    background: url('../img/icons/menu_2.png');
    top: 60%;
}

.linkMenu1, .linkMenu2 {
    height: 4px;
    position: absolute;
    transform: translateY(-50%);
}

.linkMenu {
    background-size: 40px;
    width: 40px;
}

.linkIcon {
    display: block;
    background-position: center;
    height: 60px;
    background-repeat: no-repeat;
}