/* Navigation bar */

.navContainer {
    background: white;
    box-shadow: var(--shadow);
    height: 60px;
    z-index: 300;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
}

.navContainer nav {
    width: 1000px;
    margin: 0 auto;
    padding: 0 8px;
    height: 100%;
}

nav .desktopNav,
nav .mobileNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    list-style: none;
}

nav .desktopNav li a,
nav .mobileNav li a {
    color: black;
    text-decoration: none;
    font-family: 'Caveat', cursive;
    font-weight: 400;
    font-size: 22px;
    filter: drop-shadow(var(--shadow));
    opacity: 1;
    transition: opacity 400ms;
}

nav .desktopNav li a:hover,
nav .mobileNav li a:hover {
    opacity: 0.6;
}

nav .mobileNav {
    display: none;
    /* Hidden */
}

/* Adaptive size */

@media (max-width: 1100px) {
    .navContainer nav {
        width: 100%;
        padding: 0 32px;
    }
}

@media (max-width: 768px) {
    nav .mobileNav {
        display: flex;
    }

    nav .desktopNav {
        display: none; 
        /* Hidden */


        /* Navigation menu */

        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: lightgray;
        justify-content: start;
        overflow: hidden;
        z-index: -1;
    }

    nav .desktopNav.active {
        display: flex;
    }

    nav .desktopNav li {
        width: 100%;
        padding: 0 40px;
    }

    nav .desktopNav li:first-child {
        margin-top: 60px;
    }

    nav .desktopNav .linkSignature,
    nav .desktopNav .linkBag {
        display: none;
    }

    nav .desktopNav li a {
        padding: 16px 0;
        display: inline-block;
        border-bottom: 1px solid black;
    }
}

/* Icons */

.linkSignature {
    background: url('../img/icons/signature.png');
    background-size: 160px;
    width: 160px;
}

.linkBag {
    background: url('../img/icons/bag.png');
    background-size: 44px;
    width: 40px;
}

.linkCart {
    background: url('../img/icons/cart.png');
    background-size: 44px;
    width: 60px;
}

.linkMenu {
    width: 40px;
}

.linkIcon {
    display: block;
    background-position: center;
    height: 60px;
    background-repeat: no-repeat;
}

/* Menu icon position */

#menu1 {
    background: url('../img/icons/menuLine1.png');
    top: 20px;
}

#menu2 {
    background: url('../img/icons/menuLine2.png');
    bottom: 20px;
}

#menu1,
#menu2 {
    background-size: 40px;
    width: 40px;
    height: 4px;
    position: absolute;
}

/* Menu icon animation */

.linkMenu #menu1 {
    transition: top 200ms ease-out 200ms, transform 200ms ease-in;
}

.linkMenu #menu2 {
    transition: bottom 200ms ease-out 200ms, transform 200ms ease-in;
}

.linkMenu.clicked #menu1 {
    top: 28px;
    transform: rotate(45deg);
    transition: top 200ms ease-in, transform 200ms ease-out 200ms;
}

.linkMenu.clicked #menu2 {
    bottom: 28px;
    transform: rotate(-45deg);
    transition: bottom 200ms ease-in, transform 200ms ease-out 200ms;
}

.linkMenu.clicked:hover #menu1 {
    transform: rotate(135deg);
}

.linkMenu.clicked:hover #menu2 {
    transform: rotate(45deg);
}