/* Slide transition */

.fadeOutAnimation {
    animation: fadeOut calc(var(--transitionLength) * 2) linear;
}

.fadeInAnimation {
    animation: fadeIn var(--transitionLength) linear;
}

.linkBagAnimation {
    animation: transitionBag calc(var(--transitionLength) * 2) linear;
}

@media (min-width: 1100px) {
    .linkBagAnimation {
        animation: transitionBagWide calc(var(--transitionLength) * 2) linear;
    }
}

#shopNav {
    display: none;
}

#nav {
    visibility: hidden;
}

/* Navigation bar animations */

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes transitionBag {
    to {
        transform: translateX(calc(-100vw + var(--navPadding) * 2 + var(--menuIconSize)));
    }
}

@keyframes transitionBagWide {
    to {
        transform: translateX(calc(-1 * var(--desktopNavSize) + var(--navPadding) * 2 + var(--menuIconSize)));
    }
}

/* Fade on scroll class selector */

.scaleFadeIn {
    animation: scaleFadeIn calc(var(--transitionLength) * 2) ease-in;
}

/* Fade on scroll animations */

@keyframes scaleFadeIn {
    from {
        opacity: var(--softOpacity);
        transform: scale(0.8, 0.8);
    }

    to {
        opacity: 1;
        transform: scale(1, 1);
    }
}

/* Page content */

.pageContainer {
    height: 100%;
    width: 100%;
    animation: transitionIn calc(var(--transitionLength) * 2);
    animation-timing-function: linear;
    background-image: url(../img/wallpapers/wallpaperShop.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin-top: var(--navContainerHeight);
    margin-bottom: var(--navContainerHeight);
}

/* Shopping */

#gridWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, calc(var(--imageContainerSize) + 2 * var(--shopDisplayMargin)));
    justify-content: center;
    margin-left: var(--sideWrapperMargin);
    margin-right: var(--sideWrapperMargin);
}

.container {
    background-color: var(--expandedPageColor);
    box-shadow: var(--shadow);
    position: relative;
    margin: var(--shopDisplayMargin);
    border-radius: var(--imageBorderRadius);
    height: var(--imageContainerSize);
    width: var(--imageContainerSize);
    box-shadow: var(--shadow);
    transition: background-color var(--transitionLength) ease-in;
    user-select: none;
}

.container:hover {
    background-color: var(--hoverPageColor);
    animation: tilt-shaking var(--transitionLength);
}

.images {
    border-radius: var(--imageBorderRadius);
    margin: auto;
    margin-top: calc(var(--imageMargin) / 2);
    display: block;
    height: var(--imageSize);
    max-width: calc(var(--imageSize) * 1.7);
}

.price {
    font-family: 'Noto Sans Mono', sans-serif;
    font-weight: bold;
    font-size: var(--fontSize);
    margin-left: var(--textMargin);
    margin-right: var(--textMargin);
}

.name {
    font-family: 'Noto Sans Mono', sans-serif;
    font-weight: normal;
    font-size: calc(var(--fontSize) / 2);
    margin-left: var(--textMargin);
    margin-right: var(--textMargin);
}

@media (max-width: 768px) {
    .gridWrapper {
        justify-content: center;
        margin-left: 0;
        margin-right: 0;
    }

    nav .desktopNav .redDot {
        display: none;
    }
}

/* Checkout */

.redDot {
    position: fixed;
    top: 0.1em;
    width: 1.5em;
    height: 1.5em;
    border-radius: 1.5em;
    background-color: darkgrey;
    color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 1.5em;
    user-select: none;
}

#checkoutMenu {
    background-image: url(../img/wallpapers/wallpaperCheckout.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: fixed;
    display: flex;
    flex-direction: column;
    top: calc(var(--checkoutBorder) * -2);
    right: 0;
    overflow: hidden;
    border: solid;
    border-width: var(--checkoutBorder);
    border-radius: var(--imageBorderRadius);
    border-color: var(--pageColor);
    margin: var(--shopDisplayMargin);
    margin-top: 0;
    min-height: 0;
    max-height: 0;
    width: var(--checkoutWidth);
    transition: max-height var(--transitionLength) ease-in-out, margin-top var(--transitionLength) ease-in-out;
}

#checkoutMenu.active {
    z-index: 300;
    top: 0;
    overflow-y: auto;
    max-height: calc(100% - 2 * (var(--navContainerHeight) + var(--shopDisplayMargin)));
    margin-top: calc(var(--shopDisplayMargin) + var(--navContainerHeight));
}

#checkoutMenu.active::-webkit-scrollbar {
    display: none;
}

#checkoutElements {
    background-image: url(../img/wallpapers/wallpaperCheckout.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    position: sticky;
    border-top: solid var(--checkoutBorder);
    border-color: var(--pageColor);
    bottom: 0;
}

#checkoutTotalDisplay {
    margin: var(--shopDisplayMargin);
    font-family: 'Noto Sans Mono', sans-serif;
    font-size: var(--fontSize);
    font-weight: bold;
}

#checkoutButton {
    width: calc(var(--checkoutWidth) - 2 * var(--checkoutBorder));
    font-family: 'Noto Sans Mono', sans-serif;
    font-size: var(--fontSize);
    font-weight: bold;
    box-shadow: var(--shadow);
}

.container.inCart {
    z-index: 200;
    animation: add-to-cart var(--transitionLength);
    animation-timing-function: ease-out;
}

.container.checkout {
    width: calc(var(--checkoutWidth) - 2 * (var(--shopDisplayMargin) + var(--checkoutBorder)));
    padding-bottom: var(--shopDisplayMargin);
    height: auto;
    background-color: var(--expandedPageColor);
    display: inline-block;
    animation: transitionIn var(--transitionLength);
    animation-timing-function: ease-in;
}

.container.checkout.deleted {
    transition: opacity var(--transitionLength) ease-in;
    opacity: 0;
}

.container.checkout:hover {
    background-color: var(--hoverPageColor);
}

/* Page/checkout item transition */

@keyframes transitionIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Shop items hover animation */
@keyframes tilt-shaking {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(5deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

/* Shop item added to cart animation */

@keyframes add-to-cart {
    from {
        transform: translate(0, 0) scale(1, 1);
    }

    to {
        transform: translate(var(--addToCartX), var(--addToCartY)) scale(0, 0);
    }
}