/* Navigation bar */
/* THIS IS THE NAV BAR WORK IN PROGRESS FOR BAG ICON ANIMATION
/*
@media (min-width: 768px) {

    // Hvordan linkbag skal se ut på desktopnav etter transitionen:
    .linkBag {
        background-position: left;
        width: 120px;
        line-height: 60px;
        text-align: end;
    }
}
*/
/*
.linkSignature,
.linkText,
.linkMenu {
    animation: transition calc(var(--transitionLength) * 2);
}

.linkBag {
    animation: transitionBag calc(var(--transitionLength) * 2);
    animation-timing-function: linear;
}

@media (min-width: 1100px) {
    .linkBag {
        animation: transitionBagWide calc(var(--transitionLength) * 2);
        animation-timing-function: linear;
    }
}
/*
/* Navigation bar transition */
/*
@keyframes transition {
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}


@keyframes transitionBag {
    to {
        transform: translateX(calc(-100vw + var(--navPadding) * 2 + var(--menuIconSize)));
    }
}

@keyframes transitionBagWide {
    to {
        transform: translateX(calc(-1000px + var(--navPadding) * 2 + var(--menuIconSize)));
    }
}
*/

/* Page content */

.pageContainer {
    height: 100%;
    width: 100%;
    animation: transitionIn calc(var(--transitionLength) * 2);
    animation-timing-function: linear;
    margin-top: var(--navContainerHeight);
    background-image: url(../img/wallpapers/wallpaperShop.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    margin-top: var(--navContainerHeight);
}

#gridWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, 10rem);
    justify-content: center;
    margin: var(--shopMargin);
}

.container {
    background-color: blueviolet;
    box-shadow: var(--shadow);
    position: relative;
    margin: var(--shopDisplayMargin);
    border-radius: var(--imageBorderRadius);
    height: var(--imageContainerSize);
    width: var(--imageContainerSize);
}

.container:hover {
    background-color: red;
}

.images {
    border-radius: var(--imageBorderRadius);
    margin: auto;
    margin-top: calc(var(--imageMargin) / 2);
    display: block;
    max-width: 100px;
    max-height: 100px;
}

.price {
    font-family: 'Noto Sans Mono', sans-serif;
    font-weight: bolder;
    font-size: var(--fontSize)
}

.name {
    font-family: 'Noto Sans Mono', sans-serif;
    font-weight: normal;
    font-size: calc(var(--fontSize) / 2)
}

@media (max-width: 768px) {
    .gridWrapper {
        justify-content: center;
        margin-left: 0;
        margin-right: 0;
    }
}

/* Page transition */

@keyframes transitionIn {
    from {
        transform: translateX(100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}