/* Page content */

.pageContainer {
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: lightseagreen;
    animation: transitionIn calc(var(--transitionLength) * 2);
    animation-timing-function: ease-in;
}

/* Page transition */

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}