/* Page content */

.pageContainer {
    height: auto;
    width: 100%;
    position: absolute;
    background: url(../img/wallpapers/wallpaperGrass.png);
    background-size: 100%;
    animation: transitionIn calc(var(--transitionLength) * 2);
    animation-timing-function: ease-in;
    margin-top: var(--navContainerHeight);
}

/* Image layout*/

/* Nature and Wedding */

.specialWrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.specialWrapper > img {
  width: 90%;
  height: auto;
  border-radius: var(--imageBorderRadius);
  margin: var(--imageMargin);
  box-shadow: var(--shadow);
}

/* Showcase */

.gallery {
  display: flex;
  flex-direction: column;
  gap: calc(var(--imageMargin) / 2);
  margin: var(--imageMargin);
}
  
.gallery .column {
  display: flex;
  flex-direction: column;
  gap: calc(var(--imageMargin) / 2);
}
  
.image img {
  height: 100%;
  width: 100%;
  border-radius: var(--imageBorderRadius);
  object-fit: cover;
  box-shadow: var(--shadow);
}

/* Media query for a three column display*/

@media only screen and (min-width: 768px) {
  .gallery {
    flex-direction: row;
  }
}


/* Page transition */

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}